.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent scrolling outside of the viewport */
}

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Starfield is placed as the background */
.wrapper canvas.starfield {
  grid-area: 1 / 1;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Content (ApodTile and other elements) is above the starfield */
.content {
  grid-area: 1 / 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  color: white;
  text-align: center;
}

.content h1 {
  margin-bottom: 20px;
}

.ApodTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.apod {
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
  position: relative;
  margin-bottom: 50px;
  width: 80%;
  max-width: 600px;
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(15px) saturate(150%);
  border: 1px solid rgba(119, 207, 255, 0.4);
  box-shadow: -1px 2px 0px 0px rgba(130, 200, 255, 0.4),
              -2px 4px 0px 0px rgba(190, 220, 250, 0.35),
              -3px 6px 0px 0px rgba(130, 200, 255, 0.3),
              -4px 8px 0px 0px rgba(190, 220, 250, 0.25),
              -5px 10px 0px 0px rgba(130, 200, 255, 0.2),
              -6px 12px 0px 0px rgba(190, 220, 250, 0.15),
              -7px 14px 0px 0px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

/* Shimmer effect */
.apod::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    115deg,
    rgba(90, 125, 196, 0.179) 0%,
    rgba(58, 173, 255, 0.454) 50%,
    rgba(152, 176, 230, 0.1) 100%
  );
  transition: opacity 0.3s ease;
  transform: skewX(-40deg);
  opacity: 0.5;
}

.apod ~ .apod::before {
  left: -125%;
  transform: skewX(-30deg);
}

.apod.active {
  pointer-events: auto; /* Enable interaction for the clicked tile */
  z-index: 10; /* Bring the active tile to the front */
}

.apod img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.apod button:focus {
  outline: none;
}

.apod button::-moz-focus-inner {
  border: 0;
}
