@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-blue: #3b82f6;
  --custom-cyan: #22d3ee;
  --custom-red: #ef4444;
  --custom-orange: #f97316;
  --custom-yellow: #fde047;
  --custom-black: #000000;

  --glow-color-1: var(--custom-blue);
  --glow-color-2: var(--custom-red);
  --glow-color-3: var(--custom-cyan);
}

body {
  background-color: var(--custom-black);
  color: white;
  font-family: 'Dosis', sans-serif;
}

html, body {
  height:100%;
}

@layer utilities {
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .text-fill-transparent {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .gradient-text {
    background-image: linear-gradient(180deg, var(--custom-red), var(--custom-orange), var(--custom-yellow));
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}