

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MachineStd';
  src: url('/fonts/MachineStd-Bold.woff2') format('woff2'),
       url('/fonts/MachineStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
